<div class="cart-footer">
  <div class="cart-column"></div>
  <div class="cart-column"></div>
  <div class="cart-column">Total:</div>
  <div class="cart-column"><%= number_to_currency(total) %></div>
</div>