<div class="cart-header">
  <div class="cart-column">Cantidad</div>
  <div class="cart-column">Producto</div>
  <div class="cart-column">Valor Unitario</div>
  <div class="cart-column">Valor Total</div>
</div>