<div class="cart-row">
  <div class="cart-column"> <%= quantity %>
    </div>
  <div class="cart-column"><%= name %></div>
  <div class="cart-column"><%= number_to_currency(price) %></div>
  <div class="cart-column"><%= number_to_currency(total) %></div>
</div>