/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --color-success: #72B01D;
  --color-success-bg: #45a049;
  --color-danger: #C1292E;
  --color-danger-bg: #982024;
  --bg-navbar: #555;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn {
  display: block;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
}

.success-btn {
  background-color: var(--color-success);
}

.success-btn:hover {
  background-color: var(--color-success-bg);
}

.danger-btn {
  background-color: var(--color-danger);
}

.danger-btn:hover {
  background-color: var(--color-danger-bg);
}

/* Navbar */
.navbar {
  background-color: #333;
  padding: 10px 0;
}

.navbar .nav-link {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.navbar .nav-link:hover {
  background-color: var(--bg-navbar);
}

.navbar .container {
  display: flex;
}

.navbar .container .nav-link:last-child {
  position: relative;
  margin-left: auto;
}

.navbar .container .nav-link .badge {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF934F;
  padding: 0.25rem;
  border-radius: 100%;
  width: 14px;
  height: 14px;
  font-size: 13px;
  top: -5px;
  right: -13px;
}

/* Notifications */
.notice {
  color: green;
  font-weight: bold;
}