/* Card */
.product-card {
  display: inline-block;
  width: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-card .product-qty {
  min-height: 18px;
}

.product-card .product-info {
  margin-top: 10px;
}

.product-card .product-name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.product-card .product-price {
  color: var(--color-success);
  font-size: 16px;
}

.product-card .btn-container {
  display: flex;
  justify-content: space-between;
}